<form [formGroup]="formReservas">
  <div class="painel">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body">
        <div class="form-group" *ngIf="!cidadeSelecionada">
          <h3> <span class="fas fa-city"></span> Pesquise e escolha os hotéis que a cidade tem a oferecer <span class="fas fa-landmark"></span></h3>
          <h4>Selecione a cidade que deseja <span class="fas fa-map-marked-alt"></span></h4>
          <div class="row">
            <div class="col-lg-6">
              <input type="text" autofocus formControlName="cidade" class="form-control search-result">
              <div class="text-danger" [innerHTML]="erroCidade"></div>
            </div>
            <div class="col-lg-6" *ngIf="reservaService.exibirLoading">
              <img src="../../../assets/Rolling-0.6s-200px.gif" width="50px" height="50px">
            </div>
            <div class="search-result" *ngIf="enderecos | async">
              <ul>
                <li *ngFor="let endereco of enderecos | async">
                  <a (click)="selecionarBairro(endereco)"> {{endereco.bairro}} - {{endereco.cidade}}</a>
                </li>
              </ul>
            </div>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group" *ngIf="cidadeSelecionada">
              <div class="card" style="width: 18rem;">
                <div class="card-header">
                  {{endereco.cidade}}
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{endereco.cidade}}</h5>
                  <p class="card-text">{{endereco.bairro}}</p>
                  <a (click)="voltarCidade()" class="links">Alterar <span class="fa fa-refresh fa-2x"></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">

            <div class="form-group" *ngIf="cidadeSelecionada">
              <div class="row">
                <div class="col-lg-6">
                  <span class="fas fa-calendar-alt fa-2x"></span>

                  <p-calendar (onClose)="onClose()" required #cal2 showButtonBar="true" [minDate]="minDateValue"
                    [locale]="en" id="date" dateFormat="dd/mm/yy" class="calendar" showOn="button" selectionMode="range"
                    formControlName="date" [touchUI]="false">
                    <p-footer>
                      <button pButton label="Escolher" (click)="cal2.overlayVisible = false"></button>
                    </p-footer>
                  </p-calendar>
                  <div [innerHTML]="errosRange" class="text-danger"></div>
                </div>
                <div class="col-lg-5">
                  <span class="fas fa-users fa-2x"></span>
                  <input type="number" formControlName="qtdhospedes" class="form-control">
                  <div [innerHTML]="erroQtdhospedes" class="text-danger"></div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>

        <hr>

        <div class="form-group" *ngIf="cidadeSelecionada">
          <div class="row">

            <div class="col-lg-6">
              <label>Nome Hotel</label>
              <input type="text" formControlName="nomehotel" class="form-control">
            </div>
            <div class="col-lg-6" style="padding-top:10px">
              <button type="button" [disabled]="!this.formReservas.valid" (click)="pesquisarDatas()" class="btn btn-success"><span
                  class="fas fa-search"></span> Consultar</button>
              <button type="button" [disabled]="!cidadeSelecionada" (click)="voltarDatas()" class="btn btn-danger"><span
                  class="fas fa-undo"></span> Desfazer</button>
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="exibirQuartos">
          <hr>
          <div class="row">
            <div class="col-lg-8" *ngFor="let quarto of quartos">
              <div class="card card-hotel" style="width: 18rem;margin-bottom: 4%; margin-left: 2%;">
                <div class="card-header" style="cursor: pointer" (click)="redirecionarEmpresaSobre(quarto.idempresa)">
                  {{quarto.nomeempresa}}
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="text-center">
                      <img src={{quarto.foto}} style="margin-top:6%; margin-left:6%; width: 220px; height: 150px;">
                      <br>
                      <div style="padding-top:2%;" >
                          <span class="fas fa-info-circle fa-2x"></span>
                          <a>{{quarto.tipoquarto}}</a>
                          <br>
                          <a target="_blank" class="text-center" routerLink="/empresa/sobre/{{quarto.idempresa}}">
                            Conheça o Hotel
                          </a>

                      </div>
                    </div>

                  </div>
                  <div class="col-lg-8">
                    <div class="card-body">
                      <p class="card-text"><span class="fas fa-asterisk"></span> <b> Quarto: {{quarto.quarto}} -
                          {{quarto.andar
                          == '0' ? 'Térreo' : quarto.andar +'° andar'}} </b> <span class="fas fa-asterisk"></span> </p>
                      <p class="card-text"><span class="fas fa-money-check-alt"></span> {{quarto.valor}}</p>
                      <p class="card-text"><span class="fas fa-wind"></span> Ar condionado: {{quarto.arcondicionado ?
                        "Sim" : "Não" }}</p>
                      <p class="card-text"><span class="fas fa-wind"></span> Ventilador: {{quarto.ventilador == true ?
                        "Sim" : "Não"}}</p>
                      <p class="card-text"> <span class="fas fa-bed"></span> Solteiro : {{quarto.camasolteiro}}</p>
                      <p class="card-text"><span class="fas fa-bed"></span> Casal : {{quarto.camacasal}}</p>
                      <p class="card-text"><span class="fas fa-map-marked-alt"></span> {{quarto.endereco}}</p>

                      <p class="card-text"><span class="fas fa-toilet-paper"></span> Banheiro:
                        {{quarto.banheiroprivativo == true ? "Privativo" : "Compartilhado"}}</p>
                        <p class="card-text"><span class="fas fa-bathtub"></span> Banheira:
                          {{quarto.banheiroprivativo == true ? "Sim" : "Não"}}</p>

                      <p class="card-text"><span class="fas fa-water"></span> Vista para o mar:   {{quarto.vistamar == true ? "Sim" : "Não"}} </p>
                      <p class="card-text"><span class="fas fa-sun"></span> Vista para Por do Sol:  {{quarto.vistapordosol == true ? "Sim" : "Não"}}</p>

                      <p class="card-text"><span class="fas fa-users"></span> Max. Hóspedes: {{quarto.qtdhospedes}}</p>
                      <p class="card-text"><span class="fas fa-clock"></span> Entrada - {{quarto.checkin}}</p>
                      <p class="card-text"><span class="fas fa-clock"></span> Saída: {{quarto.checkout}}</p>
                      <a class="links"><span title="detalhes" (click)="detalhar(quarto.imagens)" style="margin-right: 2%"
                          class="fas fa-images fa-2x"></span></a>
                      <a class="links"><span title="escolher" (click)="selecionar(quarto)" class="fas fa-check-circle fa-2x"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
