<!-- Button trigger modal -->
<!-- <button type="button" style="display: none;" class="btn btn-primary" id="btnShowModal2" data-toggle="modal" data-target="#exampleModal2">

</button> -->

<!-- Modal -->
<div class="load" *ngIf="loadingservice.load" id="exampleModal2" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color:white">
      <div class="modal-body text-center">
        <p><b>{{loadingservice.conteudo}}</b></p>
        <img src="../../../assets/Double Ring-1s-200px.gif">
      </div>
    </div>
  </div>
</div>
