.bg-dark {
  background-color: #003580 !important;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}


@media (min-width: 992px){
    .nav-linkSub {
        padding-right: .5rem;
        padding-left: .5rem;
    }
  }

.nav-linkSub[_ngcontent-c1] {
    color: black;
    display: block;
    padding: .5rem 1rem;
}

.nav-linkSub {
    display: block;
    padding: .5rem 1rem;
}

.nav-linkSub{
  color:black;
  display: block;
  padding: .5rem 1rem;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }


  .spin:hover{
    color:red;
    cursor: pointer;
  }

  .form-inline-2 {
    display: inherit;
    margin-right: 15%;
    align-items: center;
}

  .active-link{
    font-weight: bold !important;
    color:white !important;
  }


  .active-link-red{
    color:white !important;
  }

  .btn {
    margin-top: 2%;
    margin-right: 1% !important;
  }

  .btn-info{
    margin-right: 10% !important;
  }
