<form [formGroup]="formCarrinho">
  <div class="painel">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">Meu carrinho <span class="fas fa-shopping-cart"></span></h4>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <body style="padding-top: 2%;">
            <div *ngIf="carrinho.carrinhos == undefined">
              <div class="panel panel-danger">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    Seu carrinho está vazio <span class="fas fa-shopping-cart"></span>
                  </h2>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <h4 class="text-danger"> Infelizmente não possui nenhum item em seu carrinho. </h4>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="carrinho.carrinhos != undefined">
              <div class="row">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-2">
                      <span title="Entrada" class="fas fa-calendar"></span> {{carrinho.carrinhos.datainicial}}
                    </div>
                    <div class="col-md-2">
                      <span title="Saída" class="fas fa-calendar"></span> {{carrinho.carrinhos.datafinal}}
                    </div>
                    <div class="col-md-2">
                      <span title="Hotel" class="fas fa-calendar"></span> {{carrinho.carrinhos.nomehotel}}
                    </div>
                    <div class="col-md-1">
                      <span title="Diárias" class="fas fa-clock"></span> {{carrinho.carrinhos.diarias}}
                    </div>
                    <div class="col-md-2">
                      <span title="R$ Diária" class="fas fa-money"></span> {{carrinho.carrinhos.valor |
                      currency:'R$':'symbol':'':'pt-BR'}}
                    </div>
                    <div class="col-md-2">
                      <span title="R$ Total" class="fas fa-money"></span> {{carrinho.carrinhos.diarias *
                      carrinho.carrinhos.valor |
                      currency:'R$':'symbol':'':'pt-BR'}}
                    </div>
                    <div class="col-md-1">
                      <span title="Remover" (click)="removerDoCarrinho()" style="color:red; cursor:pointer;" class="fas fa-times fa-2x"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-hotel" style="width: 18rem;margin-bottom: 4%; margin-left: 2%;">
                    <div class="card-header">
                      Resumo do Pedido
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="card-body">
                          <p class="card-text"><span class="fas fa-money"></span> {{carrinho.carrinhos.diarias *
                            carrinho.carrinhos.valor |
                            currency:'R$':'symbol':'':'pt-BR'}}</p>
                          <hr>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="card-footer">
                      <button type="button" (click)="redirecionarPagamento()" class="btn btn-success">Ir para Pagamento</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <h1>Meus Cartões <span class="fas fa-credit-card"></span> </h1> -->
          </body>
        </div>
      </div>
    </div>
  </div>
</form>
